---
// Modal component
---

<div class="modal-bg" id="modal">
  <div class="modal-box">
    <h2>New Post</h2>
    <div class="ed-grid">
      <div class="ed-field"><label>Slug</label><input type="text" id="m-slug" placeholder="my-new-post" /></div>
    </div>
    <div class="modal-btns">
      <button class="btn btn-outline" id="m-cancel" type="button">Cancel</button>
      <button class="btn btn-primary" id="m-create" type="button">Create</button>
    </div>
  </div>
</div>
